{% extends 'base.html' %}

{% block title %}Акции{% endblock %}
{% block content %}
{% include 'inc/_nav.html' %}
{% load products_tags %}

<div>
    <section class="text-center mb-4">
        <div class="row wow fadeIn">
            <div class="search">
                <div class="dropdown">
                  <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Категории
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      {% get_categories as categories %}
                      {% for item in categories %}
                          <li><a class="dropdown-item" href="{% url 'category' item.pk %}">{{ item.name }}</a></li>
                      {% endfor %}
                  </ul>
                </div>
            </div>
            {% for product in goods %}
            <div class="col-lg-3 col-md-6 md-4 p-2">
                <div class="card">
                    <div class="view overplay">
                        <img src="{{ product.photo.url }}" class="card-img-top">
                        <div class="card-body">
                            <a href="{{ product.get_absolute_url }}"><h5 class="card-title product-name">{{ product.name|truncatechars:18 }}</h5></a>
                            <p class="card-text">Цена: {{ product.get_discount }} р.</p>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="empty">
                <h2>Не было найдено подходящих товаров по данной категории.</h2>
            </div>
            {% endfor %}
        </div>
        {% include 'inc/_paginator.html' %}
    </section>
</div>

{% endblock %}