{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<div>
    <section class="text-center">
    {% if product.is_available %}
    <div class="row">
        <div class="col-md-4 p-5">
            <div class="card">
                <div class="view overplay">
                    <img src="{{ product.photo.url }}" width="342" height="256" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }} {{ product.producer }}</h5>
                        {% if product.discount != 0 %}
                        <p class="card-text">Годен до: {{ product.shelf_time }}<br>Масса продукта: {{ product.weight|floatformat:2 }}кг.  </p>
                        <p class="card-text"><span class="up"><s>{{ product.price }}</s></span> {{ product.get_discount|floatformat:2 }} р.</p>
                        {% else %}
                        <p class="card-text">Годен до: {{ product.shelf_time }}<br>Масса продукта: {{ product.weight|floatformat:2 }}кг.</p>
                        <p class="card-text">{{ product.get_discount|floatformat:2 }} р.</p>
                        {% endif %}
                        <form action="{% url 'cart:cart_add' product.pk %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="quantity" value="1" required id="id_quantity"/>
                        <button type="submit" class="btn btn-primary">Добавить в корзину</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
        <div class="empty">
            <h2>Данный товар не доступен в настоящее время.</h2>
        </div>
    {% endif %}
    </section>
</div>

{% endblock %}