{% extends 'base.html' %}

{% block title %}Акции{% endblock %}
{% block content %}
{% include 'inc/_nav.html' %}

<div>
    <section class="text-center">
    <div class="row">
        <div class="col-md-6 p-5">
            <div class="card">
                <div class="view overplay">
                    <img src="{{ product.photo.url }}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }} {{ product.producer }}</h5>
                        {% if product.discount != 0 %}
                        <p class="card-text">Годен до: {{ product.shelf_time }}<br>Масса продукта: {{ product.weight }}кг. Скидка {{ product.discount }} %</p>
                        <p class="card-text">Цена со скидкой: <s>{{ product.price }}</s> {{ product.get_discount }} р.</p>
                        {% else %}
                        <p class="card-text">Годен до: {{ product.shelf_time }}<br>Масса продукта: {{ product.weight }}кг.</p>
                        <p class="card-text">Цена {{ product.get_discount }} р.</p>
                        {% endif %}
                        <form action="{% url 'cart:cart_add' product.pk %}" method="post">
                            {% csrf_token %}
                            {{ cart_product_form }}
                            <input type="submit" class="btn btn-primary" value="Добавить в корзину">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
</div>

{% endblock %}

{% block footer %}
{% include 'inc/_footer.html' %}
{% endblock %}