{% extends 'base.html' %}

{% block title %}Продукты{% endblock %}

{% block content %}
{% include 'inc/_nav.html' %}
{% load products_tags %}

<div>
    <section class="text-center mb-4">
        <div class="row wow fadeIn">
            <div class="search">
                <div class="dropdown">
                  <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Категории
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      {% get_categories as categories %}
                      {% for item in categories %}
                          <li><a class="dropdown-item" href="{% url 'store:category' item.pk %}">{{ item.name }}</a></li>
                      {% endfor %}
                  </ul>
                </div>
                {% include 'inc/_products_search.html' %}
            </div>
            {% for product in products %}
            <div class="col-lg-3 col-md-6 md-4 p-2">
                <div class="card">
                    <div class="view overplay">
                        <img src="{{ product.photo.url }}" width="342" height="256" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name|truncatechars:18 }}</h5>
                            <p class="card-text">{{ product.get_discount }} р.</p>
                            <form action="{% url 'cart:cart_add' product.pk %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="quantity" value="1" required id="id_quantity"/>
                            <div class="product_buttons">
                                <a href="{{ product.get_absolute_url }}" class="btn btn-primary">Подробнее</a>
                                <button type="submit" class="btn btn-primary">В корзину</button>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="empty">
                <h2>Не было найдено подходящих товаров по данной категории.</h2>
            </div>
            {% endfor %}
        </div>
        {% include 'inc/_paginator.html' %}
    </section>
</div>

{% endblock %}

{% block footer %}
{% include 'inc/_footer.html' %}
{% endblock %}