{% extends "base.html" %}

{% block title %}Оформление заказа{% endblock %}

{% block content %}
{% include 'inc/_nav.html' %}
{% load widget_tweaks %}

<div class="py-5 text-center">
  <div class="row">
    <!-- Cart -->
    <div class="col-md-4 order-md-2 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Ваша корзина</span>
      </h4>
      <ul class="list-group mb-3">
        {% for item in cart %}
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">{{ item.product.name }}</h6>
            <small class="text-muted">Количество: {{ item.quantity }}</small>
          </div>
          <span class="text-muted">{{ item.product.price }} р.</span>
        </li>
        {% endfor %}
        <li class="list-group-item d-flex justify-content-between">
          <span>Итог</span>
          <strong>{{ cart.get_total_price }} р.</strong>
        </li>
      </ul>
    </div>

    <!-- Billing address -->
    <div class="col-md-8 order-md-1">
      {% if form.errors %}
      <div class="alert alert-danger" role="alert">
        Введите корректный номер телефона.
      </div>
      {% endif %}
      <h4 class="mb-3">Заполните данные</h4>
      <form action='' class="needs-validation" method="post">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="{{ form.first_name.id_for_label }}">Имя</label>
            {% render_field form.first_name class="form-control" placeholder="Иван" %}
          </div>
          <div class="col-md-6 mb-3">
            <label for="{{ form.last_name.id_for_label }}">Фамилия</label>
            {% render_field form.last_name class="form-control" placeholder="Иванов" %}
          </div>
        </div>
        <div class="mb-3">
          <label for="{{ form.phone.id_for_label }}">Номер телефона</label>
          {% render_field form.phone class="form-control" placeholder="+71234567890" %}
        </div>
        <div class="mb-3">
          <label for="{{ form.address.id_for_label }}">Адрес</label>
          {% render_field form.address class="form-control" placeholder="Иванова ул. 1 д. 1к." %}
        </div>
        <div class="mb-3">
          <label for="{{ form.city.id_for_label }}">Город</label>
          {% render_field form.city class="form-control" placeholder="Иваново" %}
        </div>
        <input type="submit" class="btn btn-primary" value="Оформить заказ">
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
{% include 'inc/_footer.html' %}
{% endblock %}