{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
{% load widget_tweaks %}

{% if request.user.profile.phone %}
  <div class="py-5 text-center">
    <div class="row">
      <!-- Cart -->
      <div class="col-md-4 order-md-2 mb-4">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-muted">Ваша корзина</span>
        </h4>
        <ul class="list-group mb-3">
          {% for item in items %}
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">{{ item.product.name }}</h6>
              <small class="text-muted">Количество: {{ item.quantity }}</small>
            </div>
            {% if item.product.get_discount %}
            <span class="text-muted">{{ item.product.get_discount }} р.</span>
            {% else %}
            <span class="text-muted">{{ item.product.price }} р.</span>
            {% endif %}
          </li>
          {% endfor %}
          <li class="list-group-item d-flex justify-content-between">
            <span>Итог</span>
            <strong>{{ get_total_cost }} р.</strong>
          </li>
        </ul>
      </div>

      <div class="col-md-8 order-md-1">
        <form action="" method="post">
          {% csrf_token %}
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="{{ form.full_name.id_for_label }}">Полное имя</label>
            {% render_field form.full_name|add_class:"form-control" placeholder="Иванов Иван" %}
            <small class="text-muted">Полное имя, расположенное на карте</small>
          </div>
          <div class="col-md-6 mb-3">
            <label for="{{ form.cc_number.id_for_label }}">Номер карты</label>
            {% render_field form.cc_number|add_class:"form-control" placeholder="1234 5678 9876 5432" %}
            {% if form.cc_number.errors %}
              {{ form.cc_number.errors }}
            {% endif %}
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 mb-3">
            <label for="{{ form.cc_expiry.id_for_label }}">Срок действия карты</label>
            {% render_field form.cc_expiry|add_class:"form-control" placeholder="12/99" %}
            {% if form.cc_expiry.errors %}
                {{ form.cc_expiry.errors }}
            {% endif %}
          </div>
          <div class="col-md-3 mb-3">
            <label for="{{ form.cc_code.id_for_label }}">CVV</label>
            {% render_field form.cc_code|add_class:"form-control" placeholder="123" %}
            {% if form.cc_code.errors %}
                {{ form.cc_code.errors }}
            {% endif %}
          </div>
        </div>
        <hr class="mb-4">
        <input type="submit" class="btn btn-primary btn-lg" value="Оформить заказ">
        </form>
      </div>
    </div>
  </div>
{% else %}
  <section class="text-center">
    <div class="empty">
      <h3>В данный момент вы не указали свои персональные данные, такие как: Номер, Адрес, Город.</h3>
      <h4>Пожалуйста, перейдите в профиль и заполните свои персональные данные</h4>
       <a type="button" href="{% url 'users:profile' request.user.profile.slug %}" class="btn btn-primary btn-lg">Перейти в профиль</a>
    </div>
  </section>
{% endif %}

{% endblock %}