{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-5 p-5">
        <div class="card">
            <div class="card-header">
                <h4>Вы успешно оформили заказ!</h4>
            </div>
            <div class="card-body">
                <button type="submit" class="btn btn-primary">
                    <a href="{% url 'store:discount_page' %}">Вернуться к покупкам</a>
                </button>
            </div>
        </div>
    </div>
</div>

{% endblock %}