{% extends "base.html" %}

{% block title %}Сброс пароля{% endblock %}

{% block content %}
{% load widget_tweaks %}

<div class="row">
    <div class="col-md-8 p-5">
        <div class="card">
            <div class="card-header">
                Чтобы сбросить старый пароль — введите адрес электронной почты, под которым вы регистрировались
            </div>
            <div class="card-body">
                <form action="{% url 'password_reset' %}" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                        {{ field|add_class:'form-control' }}

                        {% if field.help_text %}
                            {{ field.help_text|safe }}
                        {% endif %}

                        {% if field.errors %}
                            {{ field.errors }}
                        {% endif %}

                    {% endfor %}
                <div class="password__reset__button">
                    <button type="submit" class="btn btn-primary">
                        Сбросить пароль
                    </button>
                </div>
                </form>
            </div>
            <div class="card-footer">
              <a href="{% url 'users:signup' %}" class="btn btn-link">
                Уже имеете аккаунт? Войти...
              </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}