a {
    color: inherit;
    text-decoration: none;
}

.product-name {
    color: #00bfff;
}

.product-name:hover {
    color: #8a2be2;
    transition: 0.75s;
}

.password__reset__button, .password__reset__button {
    margin-top: 12px;
}

.nav-button:hover {
    color: #808080;
    transition: 0.75s;
}

.empty {
    margin-top: 50px
}

.search {
    display: flex;
    justify-content: space-between;
}